<div class="layout__section layout__section--padding-all-128">
  <div class="container-xl">
    <h2 class="typography__h2 layout__section-title">Our Technology</h2>
    <div class="row justify-content-between">
      <div class="col-lg-7">
        <span class="typography__text typography--pre-line">From booking tools to travel management to back-office support, we have a bouquet of world-class standards-compliant travel technology tools that streamline and optimise your travel programme.
</br>
We are constantly researching and investing in new travel technology to give your business access to cutting-edge tools in booking and managing your travel, and ensuring your travellers’ safety and well being.
</br>
Our client portal, NexCT, gives our clients and their travellers an online dashboard to access critical travel information, documentation and tools.
        </span>
      </div>
      <div class="col-lg-4 mt-5 mt-lg-0">
        @include('components/shared/common/info-block/index.html')
        @include('components/shared/common/info-block/index.html')
        @include('components/shared/common/info-block/index.html')
      </div>
    </div>
  </div>
</div>
