/* ==========================================================================
   Ui-kit component -- btn
   ========================================================================== */

.custom-btn {
  $root: &;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 220px;
  padding: 12px 33px;
  border-radius: 4px;
  box-shadow: 8px 8px 0 0 rgba(20, 29, 32, 0.2);
  background-color: var(--primary-black);
  color: var(--primary-white);
  font-size: 16px;
  font-family: $font-imb-semi;
  line-height: 1.5;
  letter-spacing: 2px;
  border: none;
  user-select: none;
  text-transform: uppercase;
  transition: box-shadow 0.3s;

  &:hover {
    text-decoration: none;
    box-shadow: 4px 4px 0 0 rgba(#000, 0.2);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: 0.8;
  }

  &--block {
    display: flex;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  &--accent {
    background-color: var(--primary-white);
    color: var(--primary-black);
    border: solid 1px var(--primary-medium);
    box-shadow: none;
  }

  &--simple {
    padding: 0;
    min-width: auto;
    background-color: transparent;
    color: var(--primary-black);
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }
  }
}
