/* ==========================================================================
   Ui-kit component -- select
   ========================================================================== */


.select-custom {
  background-image: url("../../assets/img/drop-down.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-transform: uppercase;
  display: inline-block;
  height: 50px;
  padding: 12px 30px;
  outline: none;
  font-family: $font-ibm-medium;
  border: 1px solid transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1.5px;

  option {
    text-transform: none;
  }
}

select::-ms-expand {
  display: none;
}
