.typography {

  &__h1 {
    font-family: $font-montserrat-bold;
    font-size: 72px;
    line-height: 1.11;
    letter-spacing: -2px;

    @media (max-width: (768px)) {
      font-size: 48px;
    }
  };

  &__h2 {
    font-family: $font-montserrat-bold;
    font-size: 40px;
    line-height: 1.2;
  };

  &__h3 {
    font-family: $font-montserrat-bold;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.2px;
  };

  &__text {
    font-family: $font-imb-regular;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.2px;
  }

  &__info {
    font-family: $font-ibm-medium;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
    color: var(--primary-black);
    letter-spacing: 1.75px;
    text-transform: uppercase;
  }

  &--pre-line {
    white-space: pre-line;
  }
}
