<div class="layout__section layout__section--padding-all-88 bg-primary-light">
  <div class="container-xl">
    <h2 class="typography__h2 layout__section-title">Reporting</h2>
    <div class="row justify-content-between">
      <div class="col-4">
        @include('components/shared/common/list/index.html')
      </div>
      <div class="col-7">
        <span class="typography__text typography--pre-line">From booking tools to travel management to back-office support, we have a bouquet of world-class standards-compliant travel technology tools that streamline and optimise your travel programme.
</br>
We are constantly researching and investing in new travel technology to give your business access to cutting-edge tools in booking and managing your travel, and ensuring your travellers’ safety and well being.

</br>
Our client portal, NexCT, gives our clients and their travellers an online dashboard to access critical travel information, documentation and tools.
        </span>
        <button class="custom-btn custom-btn--accent align-self-center mt-5">see example</button>
      </div>
  </div>
</div>
</div>
