// =============================================================================
// Constants
// =============================================================================

// Colors

:root {
  --primary-black: #141d20;
  --primary-dark: #3f5458;
  --primary-medium: #75969d;
  --primary-light: #f4fafc;
  --primary-white: #ffffff;
  --primary-accent: #ff6060;
  --secondary-accent: #ffcece;
}

// Fonts
$secure-fonts: Arial, Helvetica, Sans-serif;
$font-montserrat-bold: MontserratBold, $secure-fonts;
$font-ibm-medium: IBMPlexSansMedium, $secure-fonts;
$font-imb-regular: IBMPlexSansRegular, $secure-fonts;
$font-imb-semi: IBMPlexSansSemi, $secure-fonts;

$default-font-size: 16px;

// =============================================================================
// Variables
// =============================================================================

// body
$body-bg: var(--primary-white);
$body-color: var(--primary-black);
$body-font-family: $font-imb-semi;
$body-font-size: $default-font-size;
