<div class="container-xl">
  <h2 class="typography__h2 layout__section-title">COVID Regulations</h2>
    <div class="row justify-content-center">
        <div class="col-10">
            <h3 class="typography__h3 mb-3">Subtitle One</h3>
            <p class="typography__text typography--pre-line">From booking tools to travel management to back-office support, we have a bouquet of world-class standards-compliant travel technology tools that streamline and optimise your travel programme. We are constantly researching and investing in new travel technology to give your business access to cutting-edge tools in booking and managing your travel, and ensuring your travellers’ safety and well being.
                </br>
                Our client portal, NexCT, gives our clients and their travellers an online dashboard to access critical travel information, documentation and tools. From booking tools to travel management to back-office support, we have a bouquet of world-class standards-compliant travel technology tools that streamline and optimise your travel programme. We are constantly researching and investing in new travel technology to give your business access to cutting-edge tools in booking and managing your travel, and ensuring your travellers’ safety and well being. Our client portal, NexCT, gives our clients and their travellers an online dashboard to access critical travel information, documentation and tools      </p>
        </div>
        <div class="col-10 mt-5">
            <h3 class="typography__h3 mb-3">Subtitle One</h3>
            <p class="typography__text typography--pre-line">From booking tools to travel management to back-office support, we have a bouquet of world-class standards-compliant travel technology tools that streamline and optimise your travel programme. We are constantly researching and investing in new travel technology to give your business access to cutting-edge tools in booking and managing your travel, and ensuring your travellers’ safety and well being.
                </br>
                Our client portal, NexCT, gives our clients and their travellers an online dashboard to access critical travel information, documentation and tools. From booking tools to travel management to back-office support, we have a bouquet of world-class standards-compliant travel technology tools that streamline and optimise your travel programme. We are constantly researching and investing in new travel technology to give your business access to cutting-edge tools in booking and managing your travel, and ensuring your travellers’ safety and well being. Our client portal, NexCT, gives our clients and their travellers an online dashboard to access critical travel information, documentation and tools      </p>
        </div>
    </div>
</div>
