/* ==========================================================================
   Component - custom-list
   ========================================================================== */

.custom-list {
  $root: &;

  padding: 0;
  list-style: none;

  &__item {
    margin-bottom: 16px;
    display: flex;

    &:before {
      content: "";
      width: 5px;
      height: 5px;
      background-color: var(--primary-accent);
      border-radius: 100%;
      display: block;
      margin-right: 32px;
      margin-top: 10px;
      flex-shrink: 0;
    }

    &-title {
      margin-bottom: 8px;
    }
  }

}
