.hero {
  $root: &;

  position: relative;
  height: 100vh;

  display: flex;
  flex-direction: column;

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    flex-grow: 1;
    position: relative;
    padding-top: 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__title {
    max-width: 486px;
    width: 100%;
    color: var(--primary-white);
  }

  &__address {
    display: flex;
    flex-wrap: wrap;

    .address-block:not(:last-of-type) {
      margin-right: 64px;
    }

  }

}
