<div class="hero"">
    <img src="./assets/img/hero.jpg"  class="hero__img" />
    <div class="container-xl hero__content">
        <h1 class="typography__h1 hero__title">Travel management
            that delivers</h1>
        <div class="hero__address">
            @include('components/shared/common/address-block/index.html')
            @include('components/shared/common/address-block/index.html')
            @include('components/shared/common/address-block/index.html')
        </div>
    </div>
</div>
