<div class="layout__section layout__section--padding-all-168 bg-primary-dark">

  <div class="container-xl">
    <h2 class="typography__h2 layout__section-title font-primary-white">For The Corporate Traveller</h2>
    <div class="row justify-content-between">
      <div class="col-lg-7">
        <span class="typography__text typography--pre-line font-primary-white">When travelling for business, access to dedicated support and seamless travel technology is imperative.
</br>
Our corporate travel consultants are informed and available to assist in any situation and our online client portal, gives immediate access to important travel documentation when you need it.
        </span>
      </div>
      <div class="col-lg-4 mt-5 mt-lg-0">
        @include('components/shared/common/info-block/version-light.html')
        @include('components/shared/common/info-block/version-light.html')
      </div>
    </div>
  </div>
</div>
