/* ==========================================================================
   Component - icon-card
   ========================================================================== */

.icon-card {
  $root: &;
  display: flex;
  align-items: center;

  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;

    svg {
      width: 100%;
      height: 100%;
    }

    &--small {
      width: 16px;
      height: 16px;
    }
  }

  &__text {
    font-font: $font-ibm-medium;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

}
