/* ==========================================================================
   Common -- layout
   ========================================================================== */

.layout {
  $root: &;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__section {
    display: flex;
    flex-grow: 1;
    min-height: auto;

    &-title {
      margin-bottom: 48px;
    }

    &--padding-all-88 {
      padding: 88px 0;
    }

    &--padding-all-128 {
      padding: 128px 0;
    }

    &--padding-all-168 {
      padding: 168px 0;
    }

    &--padding-top-128 {
      padding-top: 128px;
    }

    &--padding-bottom-128 {
      padding-bottom: 128px;
    }

    &--padding-top-88 {
      padding-top: 88px;
    }
  }

  &__main {
    overflow: hidden;

    &--mt {
      margin-top: 80px;
    }
  }
}
