/* ==========================================================================
   Component -- main-card
   ========================================================================== */

.main-card {
  $root: &;
  min-height: 680px !important;
  display: flex;
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: none;

    .main-card__img {
      transform: scale(1.1);
    }
  }

  &__wrapper {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__img-wrapper {
    width: 100%;
    max-height: 430px;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s;
  }

  &__content {
    align-self: flex-end;
    padding: 46px 60px 60px 28px;
    background-color: var(--primary-light);
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-family: $font-montserrat-bold;
    font-weight: 600;
    font-size: 24px;
    font-stretch: condensed;
    line-height: 1.33;
    letter-spacing: 0.4px;
  }

}
