<div class="container-xl">
    <div class="row">
      <div class="col-lg-7">
          <h2 class="typography__h2 layout__section-title">Travel policy management</h2>
          <p class="typography__text typography--pre-line">Using the latest, industry-leading technologies, together with excellent, time-proven supplier relationships, Susan’s Travel will get you the best rates on your flights, car rentals, accommodation, tour operators, and more. Let us arrange any train journeys, day tours and or other form of travel arrangements. It’s our absolute pleasure to ensure.</p>
          <button class="custom-btn custom-btn--accent align-self-center mt-5">some call to action</button>
      </div>
      <div class="col-lg-5 mt-sm-5 mt-lg-0">
          <img class="w-100 h-auto" src="./assets/img/working-in-office.jpeg"/>
      </div>
    </div>
</div>
