<div class="layout__section layout__section--padding-top-88">
  <div class="container-xl">
    <div class="row align-items-center mb-4">
      <h1 class="typography__h1 col-lg-4 mb-5 mb-lg-0">Leisure</h1>
      <div class="col-lg-8">
        @include('components/shared/common/filter-form/index.html')
      </div>
    </div>
    @include('components/shared/common/info-block/version-medium.html')
    <div class="row">
      @include('components/shared/common/main-card/index.html')
      @include('components/shared/common/offer-card/index.html')
    </div>
    <div class="row mt-4">
      @include('components/shared/common/offer-card/index.html')
      @include('components/shared/common/offer-card/index.html')
      @include('components/shared/common/offer-card/index.html')
    </div>
  </div>
</div>
