<div class="layout__section layout__section--padding-top-128">
<div class="container-xl">
    <h2 class="typography__h2 layout__section-title">Our Services</h2>
    <div class="row flex-wrap">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">@include('components/shared/common/service-card/index.html')</div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">@include('components/shared/common/service-card/version-2.html')</div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">@include('components/shared/common/service-card/version-3.html')</div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">@include('components/shared/common/service-card/index.html')</div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">@include('components/shared/common/service-card/version-3.html')</div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">@include('components/shared/common/service-card/index.html')</div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">@include('components/shared/common/service-card/index.html')</div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">@include('components/shared/common/service-card/version-2.html')</div>
    </div>
</div>
</div>
