/* ==========================================================================
   Component -- nav
   ========================================================================== */

.navigation {
  $root: &;

  display: flex;
  justify-content: space-between;
  align-items: start !important;
  width: 100%;
  font-size: 14px;
  font-family: $font-ibm-medium;
  line-height: 1.71;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  .navbar-nav {
    @media (max-width: (992px)) {
      min-height: 250px;
      align-items: flex-start;
      justify-content: space-around;
    }
  }

  .nav-item {

    &:not(:last-of-type) {
      position: relative;
      margin-right: 48px;
    }
  }

  .nav-link {
    color: var(--primary-white) !important;
    padding: 0;

    &:hover {
      text-decoration: none;
      color: var(--primary-accent) !important;
    }

    &.active,
    &.active:hover {
      color: var(--primary-accent) !important;
      text-decoration: none;
    }
  }

}
