<div class="layout__section layout__section--padding-all-88 bg-primary-light">
  <div class="container-xl d-flex flex-column">
    <div class="row justify-content-between align-items-center">
      <h2 class="typography--pre-line typography__h2">What Our
        Clients Say</h2>
      <div class="row col-8">
        <div class="col-lg-3 col-sm-6 mb-sm-2">
          <a class="logo logo--small" href="">
            <img src="./assets/img/logo.png" alt="logo">
          </a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-sm-2">
          <a class="logo logo--small" href="">
            <img src="./assets/img/logo.png" alt="logo">
          </a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-sm-2">
          <a class="logo logo--small" href="">
            <img src="./assets/img/logo.png" alt="logo">
          </a>
        </div>
        <div class="col-lg-3 col-sm-6 mb-sm-2">
          <a class="logo logo--small" href="">
            <img src="./assets/img/logo.png" alt="logo">
          </a>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4 col-sm-6">@include('components/shared/common/review-card/index.html')</div>
      <div class="col-lg-4 col-sm-6">@include('components/shared/common/review-card/version-2.html')</div>
      <div class="col-lg-4 col-sm-6">@include('components/shared/common/review-card/index.html')</div>
    </div>
    </div>
  </div>
</div>
